body {
    background: rgb(52, 81, 247);
    margin-left: 100px;
    margin-right: 250px;
}

h1 {
    color: rgb(20, 27, 41);
    font-family: Snell Roundhand
}

h2 {
    color: rgb(20, 27, 41);
    font-family: Snell Roundhand
}

p {
    font-size: 18px;
    }

 .img_padrao {
        scroll-margin-bottom: 69px;
        width: 200px;
    }